<br>
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the blog</h1>
    <p class="lead text-justify">You can post here</p>
    <a class="btn btn-dark" href="/posts/new" role="button">Post</a>

  </div>
</div>